

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchPage {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
}

.searchTitle {
  text-align: center;
  margin-bottom: 5%;
}

.componentStyle {
  margin: 1;
  Width: 240;
}

.flightsPage {
  padding: 1%;
}

.square {
  margin: 10%;
}

.largeButton {
  padding: 16px 24px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 2%;
  column-gap: 1%;
  row-gap: 1%;
}

.flex {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  align-items: center;
}

.flex-item {
  padding: 2%;
}
